* {
  font-family: "Noto Serif KR", serif;
}

.top-bar {
  background-color: gainsboro;
  height: 40px;
}

.searchBox {
  color: royalblue;
  height: 80px;
  padding-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.title {
  height: 330px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: royalblue;
  font-size: 80px;
  font-weight: 900;
  text-align: left;

  padding: 10px 0px 30px 40px;
}

.listLine {
  width: 280px;
  color: royalblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 30px auto;

  border: 3px solid royalblue;
  border-radius: 30px;
}

.mvcards {
  width: 1200px;
  margin: 20px auto 20px auto;

  border-color: royalblue;
}
